# Import libraries

In [1]:
import gzip
import numpy as np
import pandas as pd

# Read metabolomics data

In [6]:
path_meta = "/oak/stanford/groups/mrivas/projects/multiomics/biomarker.residuals.20210824.master.phe.gz"

In [7]:
%%time

data_meta = read_data_from_path(path_meta, gzip.open)

Processed line number 0
Processed line number 50000
Processed line number 100000

Finished processing lines.
CPU times: user 12.9 s, sys: 1.4 s, total: 14.3 s
Wall time: 14.5 s

In [27]:
len(data_meta)

117466

In [8]:
%%time

dfs_meta = []

for i in range(0, 117):
    
    if i % 50 == 0:
        print('Processed df number ' + str(i))
    
    df = pd.DataFrame(data_meta[i * 1000:(i + 1) * 1000])
    df.columns = data_meta[0]
    dfs_meta.append(df)

Processed df number 0
Processed df number 50
Processed df number 100
CPU times: user 2.33 s, sys: 92.8 ms, total: 2.43 s
Wall time: 2.42 s

In [9]:
df_meta = pd.concat(dfs_meta)

In [10]:
df_meta.columns[-1]

"S_HDL_TG_pct\\n'"

In [11]:
df_meta = df_meta.iloc[: , 1:]

In [12]:
df_meta = df_meta.iloc[1: , :]

In [13]:
df_meta["S_HDL_TG_pct"] = df_meta["S_HDL_TG_pct\\n'"].str[:-3]

In [14]:
df_meta = df_meta.drop(["S_HDL_TG_pct\\n'"], axis=1)

In [23]:
df_meta.columns[:342]

Index(['IID', 'population', 'split', 'age', 'age0', 'age1', 'age2', 'age3',
       'sex', 'BMI',
       ...
       'M_HDL_PL_pct', 'M_HDL_C_pct', 'M_HDL_CE_pct', 'M_HDL_FC_pct',
       'M_HDL_TG_pct', 'S_HDL_PL_pct', 'S_HDL_C_pct', 'S_HDL_CE_pct',
       'S_HDL_FC_pct', 'S_HDL_TG_pct'],
      dtype='object', length=342)

In [22]:
len(df_meta.columns)

342

In [24]:
IIDs = df_meta.IID.tolist()

iid_dic = {}

for iid in IIDs:

    iid_dic[str(iid)] = 1

iid_dic['IID'] = 1

In [52]:
df_meta = df_meta.sort_values(by=['IID'])

In [53]:
df_meta

,IID,population,split,age,age0,age1,age2,age3,sex,BMI,...,M_HDL_PL_pct,M_HDL_C_pct,M_HDL_CE_pct,M_HDL_FC_pct,M_HDL_TG_pct,S_HDL_PL_pct,S_HDL_C_pct,S_HDL_CE_pct,S_HDL_FC_pct,S_HDL_TG_pct
886,1000034,white_british,test,68,60.2520547945206,NA,NA,NA,1,24.997,...,1.31374746521558,-4.80708129291809,-4.50413557467971,-0.302686895353523,3.48464850187538,0.332250767917721,-2.49063626448751,-2.18190588043892,-0.310937109702252,2.15908511800883
36,1000045,white_british,val,79,70.1506849315069,NA,NA,NA,0,23.9974,...,-1.04809016111458,2.80093740583045,1.94728897809183,0.852990556465636,-1.77052464711927,2.34280361876282,-0.943589968587339,-1.43605118774244,0.488315459776043,-1.39838799926848
59,1000069,related,related,75,67.0301369863014,NA,76.2602739726028,NA,0,23.91525,...,-1.12003653524318,0.986453470276125,-0.00290294129595026,0.989816035639869,0.133614374780972,1.4875807395433,-1.55280093668492,-2.46058147940017,0.907070057118496,0.0647235536654973
479,1000091,white_british,train,61,53.6849315068493,NA,NA,NA,1,25.6931,...,-0.244574289207726,0.447505423826406,0.264429714437789,0.1833057630482,-0.204382452466659,1.32195378256827,-1.33504820080655,-1.29650230382178,-0.0379504723228248,0.0076237264236152
70,1000104,DO_NOT_PASS_SQC,DO_NOT_PASS_SQC,70,62.8493150684932,NA,NA,NA,1,27.0903,...,0.833846850309165,-2.18465417538051,-1.22684042826484,-0.958160495502083,1.34766822540606,-0.863952907827539,-0.252178228637739,0.0604253824551577,-0.311387899016847,1.11513957485834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847,6026018,white_british,test,74,64.2164383561644,NA,NA,NA,1,22.3317,...,-0.877976395434345,2.85883680628367,2.51026681232607,0.348616385429743,-1.98310302824421,-1.40986592054123,2.77227376156583,2.50342760542152,0.270247330097865,-1.36772195134906
622,6026059,white_british,train,77,67.5671232876712,71.9397260273973,76.613698630137,NA,1,22.963,...,0.0156498010840664,0.430325910852545,0.502838491569861,-0.0726831287294303,-0.444673165438065,0.35774857959813,0.099409890268177,0.343904533168132,-0.243434620619295,-0.456715409316002
870,6026128,white_british,train,57,47.5452054794521,NA,58.9561643835616,NA,0,24.9649,...,-2.44498563869188,6.03759101688961,4.87598672894374,1.16206814353045,-3.59264424720035,0.051031555259712,2.6889941190493,2.03691862121013,0.65271226149931,-2.74739963441932
127,6026134,NA,NA,70,60.4904109589041,NA,NA,NA,0,28.3755,...,-0.891873221825158,1.71710941644447,1.46355567430109,0.251617318640376,-0.823800422813858,-0.229365274039971,0.942383370154701,1.01870206121302,-0.0756114924461677,-0.717554748120842
678,6026191,white_british,train,67,59.2328767123288,NA,NA,NA,0,32.5789,...,1.81040075148265,-1.77280598569184,-1.28993213708992,-0.482227871325357,-0.0367204324160388,0.380762177071652,-0.301815106157413,0.16413404008302,-0.465923669161434,-0.0788389785719517

# Read UKBiobank data

In [25]:
prs_path = "/oak/stanford/groups/mrivas/projects/multiomics/ukb24983_PRSmap.20211029.phe.gz"

In [26]:
def read_data_from_path(path, open_function):
    
    i = 0
    data = []

    with open_function(path, "r") as f:
        for line in f:
            if i % 50000 == 0:
                print('Processed line number ' + str(i))
            i += 1
            line_split = str(line).split('\\t')
            if line_split[1] in iid_dic:
                data.append(line_split)
    
    print()
    print('Finished processing lines.')
    
    return data

In [27]:
%%time

data = read_data_from_path(prs_path, gzip.open)

Processed line number 0
Processed line number 50000
Processed line number 100000
Processed line number 150000
Processed line number 200000
Processed line number 250000
Processed line number 300000
Processed line number 350000
Processed line number 400000
Processed line number 450000

Finished processing lines.
CPU times: user 2min 9s, sys: 7.48 s, total: 2min 16s
Wall time: 2min 17s

In [28]:
len(data)

117000

In [29]:
%%time

dfs = []

for i in range(0, 117):
    
    if i % 50 == 0:
        print('Processed df number ' + str(i))
    
    df = pd.DataFrame(data[i * 1000:(i + 1) * 1000])
    df.columns = data[0]
    dfs.append(df)

Processed df number 0
Processed df number 50
Processed df number 100
CPU times: user 11.6 s, sys: 1.16 s, total: 12.8 s
Wall time: 12.9 s

In [30]:
%%time

df_prs = pd.concat(dfs)

CPU times: user 2.06 s, sys: 576 ms, total: 2.63 s
Wall time: 2.63 s

In [61]:
df_prs.population.value_counts(normalize=True)

population
white_british        0.690690
related              0.091394
                     0.073300
others               0.057975
non_british_white    0.050513
s_asian              0.016333
african              0.012812
DO_NOT_PASS_SQC      0.003547
e_asian              0.003436
Name: proportion, dtype: float64

### Drop first row and first column

In [33]:
df_prs = df_prs.iloc[1: , :]

In [34]:
df_prs = df_prs.iloc[: , 1:]

### Clean the last column

In [35]:
df_prs["PRS_INI22503"] = df_prs["PRS_INI22503\\n'"].str[:-3]

In [36]:
df_prs = df_prs.drop(["PRS_INI22503\\n'"], axis=1)

In [54]:
df_prs = df_prs.sort_values(by=['IID'])

In [55]:
df_pheno.IID.tolist() == df_meta.IID.tolist() == df_prs.IID.tolist()

True

In [56]:
df_pheno.to_csv('data/pheno.csv', index=False)

In [57]:
df_prs.to_csv('data/prs.csv', index=False)

In [58]:
df_meta.to_csv('data/meta.csv', index=False)

# Merge the two dataframes

In [40]:
%%time

df_merged = df_prs.merge(df_meta, how='inner', on='IID')

In [41]:
df_merged

,IID,population_x,split_x,split_nonWB,age_x,age0_x,age1_x,age2_x,age3_x,sex_x,...,M_HDL_PL_pct,M_HDL_C_pct,M_HDL_CE_pct,M_HDL_FC_pct,M_HDL_TG_pct,S_HDL_PL_pct,S_HDL_C_pct,S_HDL_CE_pct,S_HDL_FC_pct,S_HDL_TG_pct
0,2986713,white_british,test,NA,61,53.2630136986301,NA,62.3205479452055,NA,0,...,0.360871758750555,-1.34106435920948,-1.15670241768821,-0.184651121368496,0.978564443401927,0.142572962150375,-0.845374780537917,-0.703453038507952,-0.142274430542667,0.702847797120231
1,5650938,white_british,test,NA,73,65.5232876712329,NA,NA,NA,0,...,5.95587175875055,-12.1270643592095,-8.91570241768821,-3.2106511213685,6.16986444340193,2.13957296215037,-6.25237478053792,-5.27045303850795,-0.982074430542667,4.11234779712023
2,3047274,related,related,train,72,64.9369863013699,NA,NA,NA,1,...,0.531871758750555,-3.52906435920949,-3.26770241768821,-0.261851121368496,2.99646444340193,-0.528427037849632,-1.61837478053792,-2.10045303850795,0.481225569457333,2.14654779712023
3,1759996,white_british,train,NA,67,59.0191780821918,NA,NA,NA,0,...,-1.37657544827649,1.34342038656931,0.543066967387574,0.80015915422832,0.0306464824293959,0.362217644632892,-0.242118479252241,-0.494243886458207,0.252265908389338,-0.120193460335307
4,2788800,white_british,test,NA,74,66.6109589041096,NA,NA,NA,1,...,0.342424551723511,-1.65557961343068,-0.752933032612425,-0.903440845771681,1.3106464824294,-1.29378235536711,-0.0871184792522399,0.202756113541792,-0.289534091610662,1.38170653966469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116994,2872148,others,others,val,68,58.8958904109589,NA,NA,NA,0,...,0.262691001531849,-3.36858031277694,-2.77074038621922,-0.59702599034231,3.0820627163817,-1.964256760423,0.0586248791638084,-0.143013954285578,0.203276679502972,1.90311344186912
116995,5560791,white_british,train,NA,78,68.972602739726,NA,NA,NA,0,...,-0.320866799367927,0.928728560137294,0.629710005348052,0.299633207591416,-0.60856217819943,0.547767644115851,0.078242008709978,-0.0200594651511388,0.0979187215634205,-0.624877356158413
116996,5073846,,,NA,51,43.3397260273973,NA,NA,NA,0,...,0.149348065591226,-1.243480987477,-1.54120025500995,0.297333662167953,1.0951279783804,0.839555345749247,-1.18404304683133,-1.00817325767618,-0.175225637996931,0.341284989620279
116997,3573977,white_british,train,NA,56,47.4849315068493,NA,NA,NA,0,...,-0.257106756449417,1.19578069840075,0.825766908417172,0.370579546777213,-0.937606225413745,0.620162471232817,0.176674032486645,0.0970538626944659,0.0800862651752006,-0.797035584526293
116998,2989666,white_british,train,NA,75,67.0219178082192,NA,NA,NA,0,...,1.29075100163521,-3.93335462832525,-4.31954504871405,0.384814143011607,2.63765455515803,-0.593402587386265,-0.951243621174264,-1.86087929464397,0.908991156555807,1.5395902939758

In [42]:
df_merged.to_csv('data/merged_data.csv', index=False)

In [31]:
%%time 

df = pd.read_csv('data/merged_data.csv')

CPU times: user 39.1 s, sys: 4.5 s, total: 43.6 s
Wall time: 43.8 s

# Make list of indexes to filter out disease phenotype data

In [6]:
IIDs = df.IID.tolist()

In [7]:
IIDs[0]

2986713

In [8]:
IIDs = df.IID.tolist()

iid_dic = {}

for iid in IIDs:

    iid_dic[str(iid)] = 1

iid_dic['IID'] = 1

In [9]:
iid_dic['IID'] = 1

# Read disease phenotypes data

In [39]:
path_pheno = "/oak/stanford/groups/mrivas/ukbb24983/phenotypedata/master_phe/master.20211020.phe"

In [40]:
def read_data_from_path(path, open_function):
    
    i = 0
    data = []

    with open_function(path, "r") as f:
        for line in f:
            if i % 50000 == 0:
                print('Processed line number ' + str(i))
            i += 1
            line_split = str(line).split('\t')
            if line_split[1] in iid_dic:
                data.append(line_split)
    
    print()
    print('Finished processing lines.')
    
    return data

In [41]:
data_pheno = read_data_from_path(path_pheno, open_function=open)

Processed line number 0
Processed line number 50000
Processed line number 100000
Processed line number 150000
Processed line number 200000
Processed line number 250000
Processed line number 300000
Processed line number 350000
Processed line number 400000
Processed line number 450000
Processed line number 500000

Finished processing lines.

In [42]:
len(data_pheno)

117000

In [43]:
%%time

dfs_pheno = []

for i in range(0, 117):
    
    if i % 50 == 0:
        print('Processed df number ' + str(i))
    
    df = pd.DataFrame(data_pheno[i * 1000:(i + 1) * 1000])

    df.columns = data_pheno[0]
    
    dfs_pheno.append(df)

Processed df number 0
Processed df number 50
Processed df number 100
CPU times: user 30 s, sys: 4.47 s, total: 34.5 s
Wall time: 34.5 s

In [44]:
df_pheno = pd.concat(dfs_pheno)

In [51]:
df_pheno.head(20)

,IID,population,split,split_nonWB,age,age0,age1,age2,age3,sex,...,INI25722,INI25723,BIN_FC90100920,INI25721,BIN_FC30020550,BIN_FC30020551,INI25729,BIN_FC10004717,INI25728,INI102430
1,1000034,white_british,test,NA,68,60.2520547945206,NA,NA,NA,1,...,-9,-9,1,-9,1,1,-9,1,-9,-9
2,1000045,white_british,val,NA,79,70.1506849315069,NA,NA,NA,0,...,-9,-9,-9,-9,1,1,-9,-9,-9,-9
3,1000069,related,related,val,75,67.0301369863014,NA,76.2602739726028,NA,0,...,-9,-9,1,-9,1,1,-9,1,-9,-9
4,1000091,white_british,train,NA,61,53.6849315068493,NA,NA,NA,1,...,-9,-9,-9,-9,1,1,-9,1,-9,-9
5,1000104,DO_NOT_PASS_SQC,DO_NOT_PASS_SQC,NA,70,62.8493150684932,NA,NA,NA,1,...,-9,-9,-9,-9,1,1,-9,1,-9,-9
6,1000162,white_british,train,NA,79,69.8027397260274,NA,NA,NA,0,...,-9,-9,-9,-9,1,1,-9,-9,-9,-9
7,1000196,white_british,train,NA,69,60.2356164383562,NA,NA,NA,0,...,-9,-9,-9,-9,1,1,-9,-9,-9,-9
8,1000246,white_british,train,NA,62,53.6767123287671,NA,60.2191780821918,NA,0,...,0.211848,0.0908742,1,0.189896,2,1,0.0252396,1,0.0870067,-9
9,1000368,white_british,train,NA,59,51.1698630136986,NA,NA,NA,0,...,-9,-9,-9,-9,1,1,-9,2,-9,-9
10,1000384,white_british,train,NA,53,44.2520547945206,NA,NA,NA,0,...,-9,-9,1,-9,1,1,-9,-9,-9,2
11,1000449,white_british,train,NA,69,61.0657534246575,NA,NA,NA,0,...,-9,-9,1,-9,1,1,-9,-9,-9,-9
12,1000465,white_british,train,NA,52,43.5643835616438,NA,NA,NA,0,...,-9,-9,1,-9,1,1,-9,-9,-9,-9
13,1000492,white_british,train,NA,62,53.0191780821918,NA,NA,NA,1,...,-9,-9,1,-9,1,1,-9,-9,-9,-9
14,1000515,non_british_white,non_british_white,test,53,45.358904109589,NA,NA,NA,0,...,-9,-9,-9,-9,1,1,-9,-9,-9,-9
15,1000523,related,related,test,58,49.3315068493151,NA,NA,NA,0,...,-9,-9,-9,-9,1,1,-9,-9,-9,-9
16,1000624,white_british,train,NA,74,64.6876712328767,NA,NA,NA,1,...,-9,-9,-9,-9,1,1,-9,-9,-9,-9
17,1000689,related,related,val,72,64.0301369863014,NA,74.4986301369863,NA,0,...,0.138893,0.0690914,1,0.139562,2,1,0.0426901,1,0.0890936,-9
18,1000693,white_british,train,NA,69,61.841095890411,NA,NA,NA,0,...,-9,-9,1,-9,1,1,-9,1,-9,-9
19,1000781,others,others,train,65,56.4493150684932,NA,NA,NA,1,...,-9,-9,-9,-9,1,1,-9,-9,-9,-9
20,1000856,white_british,train,NA,54,45.6219178082192,NA,NA,NA,0,...,-9,-9,-9,-9,1,1,-9,-9,-9,-9

In [46]:
df_pheno = df_pheno.iloc[: , 1:]
df_pheno = df_pheno.iloc[1: , :]

In [47]:
df_pheno["INI102430"] = df_pheno["INI102430\n"].str[:-1]
df_pheno              = df_pheno.drop(["INI102430\n"], axis=1)

### Merge the 3 dataframes together

In [38]:
df_pheno.IID = df_pheno.IID.astype(np.int64)

In [39]:
final_df = df.merge(df_pheno, how='inner', on='IID')

In [45]:
final_df.to_csv('data/dataset.csv', index=False)

In [46]:
final_df

,IID,population_x,split_x,split_nonWB_x,age_x,age0_x,age1_x,age2_x,age3_x,sex_x,...,INI25722,INI25723,BIN_FC90100920,INI25721,BIN_FC30020550,BIN_FC30020551,INI25729,BIN_FC10004717,INI25728,INI102430
0,2986713,white_british,test,NaN,61,53.263014,NaN,62.320548,NaN,0,...,0.153139,0.0843969,1,0.195887,2,1,0.0497831,1,0.0963776,-9
1,5650938,white_british,test,NaN,73,65.523288,NaN,NaN,NaN,0,...,-9,-9,-9,-9,1,1,-9,2,-9,-9
2,3047274,related,related,train,72,64.936986,NaN,NaN,NaN,1,...,-9,-9,-9,-9,1,1,-9,1,-9,-9
3,1759996,white_british,train,NaN,67,59.019178,NaN,NaN,NaN,0,...,-9,-9,-9,-9,1,1,-9,1,-9,-9
4,2788800,white_british,test,NaN,74,66.610959,NaN,NaN,NaN,1,...,-9,-9,1,-9,1,1,-9,1,-9,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116994,2872148,others,others,val,68,58.895890,NaN,NaN,NaN,0,...,-9,-9,-9,-9,1,1,-9,-9,-9,-9
116995,5560791,white_british,train,NaN,78,68.972603,NaN,NaN,NaN,0,...,-9,-9,1,-9,1,1,-9,-9,-9,-9
116996,5073846,NaN,NaN,NaN,51,43.339726,NaN,NaN,NaN,0,...,-9,-9,-9,-9,1,1,-9,-9,-9,-9
116997,3573977,white_british,train,NaN,56,47.484932,NaN,NaN,NaN,0,...,-9,-9,1,-9,1,1,-9,-9,-9,-9
116998,2989666,white_british,train,NaN,75,67.021918,NaN,NaN,NaN,0,...,-9,-9,-9,-9,1,1,-9,-9,-9,-9